-if @user
  -@user.errors.each do |k,err|
    %p
      =err
-form_for(:user, :url => users_path, :html => {:method => :post, :id =>"user_new_form"}) do |f|
  =render :partial => "user_form_field", :locals => {:f => f, :form_fields => [:login,:nick,:fullname,:email,:password]}
  %br
  =submit_tag "Ment"
=link_to "Vissza a user listára", users_path