%table
  %tr
    %th
      Login
    %td
      =@user.login
  %tr
    %th
      Nick
    %td
      =@user.nick
  %tr
    %th
      Email
    %td
      =@user.email
  %tr
    %th
      Fullname
    %td
      =@user.fullname
  %tr
    %th
      role
    %td
      =@user.role
=link_to "Vissza a user listára", users_path